{% extends '@Default/layout.html.twig' %}

{% block banner %}
    <div class="bnr" id="home">
        <div id="top" class="callbacks_container">
            <ul class="rslides" id="slider4">
                <li>
                    <div class="banner-1"></div>
                </li>
                <li>
                    <div class="banner-2"></div>
                </li>
                <li>
                    <div class="banner-3"></div>
                </li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
{% endblock %}

{% block productsList %}
    <div class="shoes">
        <div class="container">
            <div class="product-one">
                {% for product in productList %}
                    <div class="col-md-3 product-left">
                        <div class="p-one simpleCart_shelfItem">
                            <a href="{{ path("myshop.single", {id:product.id}) }}">
                                <img src="/icons/{{ product.iconFileName }}"/>
                                <div class="mask">
                                    <span>Quick View</span>
                                </div>
                            </a>
                            <h4>{{ product.model }}</h4>
                            <p><a class="item_add" href=""><i></i> <span
                                            class=" item_price">$ {{ product.price }}</span></a>
                            </p>
                        </div>
                    </div>
                    {% if loop.index == 4 %}
                        <div class="clearfix"></div>
                    {% endif %}

                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}