services:
    myshop.admin_namegenerator_img:
        class: AdminBundle\ImageUtil\ImageNameGenerator

    myshop.admin_check_img:
        class: AdminBundle\ImageUtil\CheckImg
        arguments:
            - "%upload_image_type_list%"

    myshop.admin_image_upload:
        class: AdminBundle\ImageUtil\UploadImageService
        arguments:
            - "@myshop.admin_check_img"
            - "@myshop.admin_namegenerator_img"
            - "%upload_image_size_list%"
        calls:
            - ["setUploadImageRootDir", ["%image_upload_dir%"]]

    myshop.admin_image_delete:
        class: AdminBundle\ImageUtil\ImageDelete
        calls:
            - ["setUploadImageRootDir", ["%image_upload_dir%"]]

    myshop.admin_unused_image_delete:
        class: AdminBundle\ImageUtil\DeleteUnusedImage
        arguments:
            - "@doctrine.orm.entity_manager"
            - "@myshop.admin_image_delete"
            - "@doctrine.orm.entity_manager"
        calls:
            - ["setUploadImageRootDir", ["%image_upload_dir%"]]

    myshop.admin_email_notification:
            class: AdminBundle\Notification\Notification
            arguments:
            - "@mailer"
            - "@templating"

    myshop.admin_loader:
            class: AdminBundle\LoadPrevData\LoadPrevData
            arguments:
            - "@doctrine.orm.entity_manager"
            - "@kernel"
            - "@security.password_encoder"

    myshop.admin_imex:
            class: AdminBundle\Util\ImportExport
            arguments:
            - "@doctrine.orm.entity_manager"
            - "@kernel"
            - "@myshop.admin_check_img"
