{% extends "@Default/layout.html.twig" %}

{% block single %}
    <div class="single contact">
        <div class="container">
            <h3>{{ page.title }}</h3>
            <p>{{ page.content|raw }}</p>
        </div>
    </div>
{% endblock %}