{% extends '@Admin/layout.html.twig' %}
{% block body%}
<h3>Edit Product</h3>
<form method="post" action="{{ path('myshop.admin_editor_product_edit', {id:product.id}) }}" enctype="multipart/form-data">
    {{ form_widget(form) }}
    <input type="submit" />
</form>
{% endblock %}