{% extends '@Admin/layout.html.twig' %}

{% block body%}
    <h3>Add photo to product {{ product.model }}</h3>
    <form enctype="multipart/form-data" method="POST" action="{{path('myshop.admin_editor_photo_add', {id:product.id})}}">
        {{ form_widget(form) }}
        <input type="submit" />
    </form>
{% endblock %}