{% extends '@Admin/layout.html.twig' %}
{% block body%}
<h3>Edit Manufacturer</h3>
<form method="post" action="{{ path('myshop.admin_editor_manufacturer_edit', {id:manufacturer.id}) }}">
    {{ form_widget(form) }}
    <input type="submit" />
</form>
{% endblock %}