{% extends '@Admin/layout.html.twig' %}

{% block body%}
    <form action="{{ path("myshop.admin_editor_user_add") }}" method="post">
        {{ form_widget(form) }}
        <input type="submit"/>
    </form>

{% endblock %}