{% extends '@Admin/layout.html.twig' %}
{% block body%}
<h3>Edit User</h3>
<form method="post" action="{{ path('myshop.admin_editor_user_edit', {id:user.id}) }}">
    {{ form_widget(form) }}
    <input type="submit" />
</form>
{% endblock %}