{% extends "::base.html.twig" %}

{% block title %}DefaultBundle:REST\API\ProductController:productList{% endblock %}

{% block body %}
<h1>Welcome to the REST\API\ProductController:productList page</h1>
{% endblock %}
