{% extends '@Admin/layout.html.twig' %}

{% block body%}
    <form action="{{ path("myshop.admin_editor_saleproduct_edit", {id:saleProduct.id}) }}" method="POST">
        {{ form_widget(form) }}
        <input type="submit"/>
    </form>
{% endblock %}